body,
html {
  height: 100%;
  background-image: url(https://wallpaperaccess.com/full/4059264.jpg);
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0px;
  padding: 0px;
}
.loginbox {
  height: 550px;
  width: 450px;
  background-color: rgba(80, 48, 0, 0.253);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.one,
.two,
.three {
  display: flex;
  flex-direction: column;
}
.here {
  font-size: 30px;
}
.center {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  row-gap: 30px;
}
input {
  height: 50px;
  background-color: transparent;
  border: white solid 2px;
}
button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  transition-duration: 0.5s;
}
button:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}
a {
  position: fixed;
  color: white;
  top: 20px;
  left: 20px;
  font-size: 70px;
  transition-duration: 0.5s;
}
a:hover {
  color: gray;
  transition-duration: 0.5s;
}
